---
import Layout from '../layouts/Page.astro';
import Container from '../components/Container.astro';

const seo = {
  title: "Kreme.dev's Personal Blog",
  description: "Share about website development, health and other random things"
}
---

<Layout seo={seo}>
  <Container>
    <div class="relative top-0 pt-[calc(25vh-60px)] md:py-[calc(40vh-60px)] h-[calc(100vh-60px)]">
      <div class="absolute oswald left top -rotate-90 -translate-x-full">HELLO@KREME.DEV</div>
      <img src="/assets/images/hero/hero-mobile.svg" class="block md:hidden" />
      <img src="/assets/images/hero/hero-desktop.svg" class="hidden md:block mb-[5vh] pl-1/10" />
      <p class="text-gray-500 w-3/5 p-0 md:pl-1/10">An experienced full-stack developer, freelancer and entreprenuer based in Bangkok, Thailand</p>
      <div class="absolute top-[calc(83vh-100px)] flex gap-4">
        <a
          href="https://twitter.com/kreme_q"
          title="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/images/social/twitter.svg" />
        </a>
        <a
          href="https://github.com/chaya-tan"
          title="Github"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/images/social/github.svg" />
        </a>
        <a
          href="https://www.linkedin.com/in/chayatan/"
          title="LinkedIn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/images/social/linkedin.svg" />
        </a>
      </div>
    </div>
   
    <a href="/blog">Blog →</a>
  </Container>
</Layout>