@import url("./reset.css");

:root {
  --container-max-width: 1200px;
  --container-max-width-narrow: 960px;
  --container-padding: 0 1rem;
}

html,
body {
  background-image: url("/assets/bg-mobile-4x.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background 0.3s ease-out;
  transition-delay: 0.25;
  margin: 0;
  padding: 0;
  color: #ddd;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 1rem;
}
