@import url("./reset.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-max-width: 1200px;
  --container-max-width-narrow: 960px;
  --container-padding: 0 1rem;
}

html,
body {
  background-image: url("/assets/bg-mobile-low-contrast-4x.webp"),
    url("/assets/bg-mobile-low-contrast-4x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background 0.3s ease-out;
  transition-delay: 0.25;
  margin: 0;
  padding: 0;
  color: #ddd;
  font-family: "Prompt", Arial, Helvetica, sans-serif;
}

.oswald {
  font-family: "Oswald", sans;
}

p {
  margin-bottom: 1rem;
}
